body{margin:0;}
canvas, .quiz { float:left; }
.quiz li {}
.quiz li.active { background:lightgrey; }
.quiz li span { padding-left:1em; }
.quiz li.correct { color:gray; }
.quiz ul { list-style-type: none; }